.table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #DFE0EB;
    align-items: center;
    cursor: pointer;
    transition-duration: .1s;

    .table__pages:nth-child(1) {
        width: 5%;
        text-align: center;

        img {
            width: 40px;
        }
    }

    .table__pages:nth-child(2) {
        width: 40%;
    }

    .table__pages:nth-child(3) {
        width: 20%;
    }

    .table__pages:nth-child(4) {
        width: 20%;
    }

    .table__pages:nth-child(5) {
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background: #29CC97;
            border-radius: 12px;
            padding: 4px 15px;
            border: none;
            color: white;
            font-weight: bolder;
        }   
        i {
            color: gray;
            font-size: 20px;
        }

    }

    .table__pages {

        h5 {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #252733;
        }

        p {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #C5C7CD;
            font-weight: 100;
        }
    }

}

.table:hover {
    background-color: #3752ff0e;
}